---
layout: poosl_default
title: Alain Le Tocquec
---

<section id="intro" class="">
    <div class="container">
        <div class="row align-items-end">
            {% include section_intro.html
                title="Alain Le Tocquec"
                desc="Alain Le Tocquec"


                img_href="features.html"
                img_target="self"
                img_src="images/screenshots/overview.png"
                img_alt="POOSL - Overview"
            %}
        </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Alain Le Tocquec"
                sub_title="Alain Le Tocquec"
                desc="Alain Le Tocquec"
            %}

            <div class="row">
                {% include block_cols.html
                    col="4"
                    title="Xxx"
                    desc="Xxx xxx."
                %}
                {% include block_cols.html
                    col="4"
                    title="Xxx"
                    desc="Xxx xxx."
                %}
                {% include block_cols.html
                    col="4"
                    title="Xxx"
                    desc="Xxx xxx."
                %}
            </div>
    </div>
</section>

<section id="" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Why POOSL"
            sub_title=""
            desc=""
        %}
        <div class="row">
            {% include block_cols.html
                col="4 offset-md-2"
                title="Xxx"
                desc="Xxx xxx"
            %}
            {% include block_cols.html
                col="4"
                title="Xxx"
                desc="Xxx xxx"
            %}
        </div>
        <div class="row">
            {% include block_cols.html
                col="4 offset-md-2"
                title="Xxx"
                desc="Xxx xxx"
            %}
            {% include block_cols.html
                col="4"
                title="Xxx"
                desc="Xxx xxx"
            %}
        </div>
        <div class="row">
            {% include block_cols.html
                col="4 offset-md-2"
                title="Xxx"
                desc="Xxx xxx"
            %}
            {% include block_cols.html
                col="4"
                title="Xxx"
                desc="Xxx xxx"
            %}
        </div>
    </div>
</section>


<section id="leads" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Project Lead"
        %}
        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <p><a href="" title=""><img src="{{  site.baseurl }}/images/001.jpeg"></a></p>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <p><a href="" title=""><img src="{{  site.baseurl }}/images/.png"></a></p>
            </div>
        </div>
    </div>
</div>
</section>
